BODY {
	SCROLLBAR-FACE-COLOR: #d6e5aa; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #759328; SCROLLBAR-SHADOW-COLOR: #759328; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #759328; SCROLLBAR-ARROW-COLOR: #759328; SCROLLBAR-TRACK-COLOR: #759328; SCROLLBAR-DARKSHADOW-COLOR: #759328; SCROLLBAR-BASE-COLOR: #d6e5aa; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
.ontab {
	BORDER-RIGHT: #808080 2px outset; BORDER-TOP: #5b7122 2px outset; FONT-WEIGHT: bold; BORDER-LEFT: #5b7122 2px outset; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #d5d5d5 1px solid; BACKGROUND-COLOR: #323a15; TEXT-ALIGN: center
}
.offtab {
	BORDER-RIGHT: #e0e0e0 2px outset; BORDER-TOP: #e0e0e0 2px outset; FONT-WEIGHT: normal; BORDER-LEFT: #e0e0e0 2px outset; CURSOR: hand; BORDER-BOTTOM: #d5d5d5 1px solid; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: center
}
.tabpadding {
	
}
.tabheading {
	BACKGROUND-COLOR: #cce197; TEXT-ALIGN: left
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #009933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #718d28; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336633; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #759328; TEXT-DECORATION: none
}
HR {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BACKGROUND: #c6da88; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset; HEIGHT: 2px
}
HR.separator {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #8eac35; BORDER-LEFT: 0px; WIDTH: 75px; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
A.mainlevel:link {
	BACKGROUND-POSITION: left 50%; COLOR: #2a370d; TEXT-ALIGN: right
}
A.mainlevel:visited {
	BACKGROUND-POSITION: left 50%; COLOR: #2a370d; TEXT-ALIGN: right
}
A.mainlevel:hover {
	BACKGROUND-POSITION: left 50%; COLOR: #737373; TEXT-ALIGN: left
}
A.mainmenu:link {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.mainmenu:visited {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.mainmenu:hover {
	COLOR: #759328; TEXT-DECORATION: underline
}
A.sublevel:hover {
	COLOR: #759328; TEXT-DECORATION: underline
}
A.sublevel:link {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.sublevel:visited {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.contentpagetitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #405115; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A.contentpagetitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #405115; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A.contentpagetitle:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #759328; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.contentpane {
	BACKGROUND-COLOR: #ffffff
}
.contentpaneopen {
	BORDER-RIGHT: #bfdc7c 0px ridge; BORDER-TOP: #bfdc7c 0px ridge; BORDER-LEFT: #bfdc7c 0px ridge; BORDER-BOTTOM: #bfdc7c 0px ridge; TEXT-ALIGN: left
}
.contentheading {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/bullet2.gif); COLOR: #232d0c; TEXT-INDENT: 22px; LINE-HEIGHT: 16px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 15px; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #80a02c; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TABLE.contenttoc {
	COLOR: #333300; BACKGROUND-COLOR: #e0e0e0
}
TABLE.contenttoc TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentdescription {
	FONT-SIZE: 12px; COLOR: #364414; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
A.blogsection:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #759328; TEXT-DECORATION: underline
}
A.weblinks:link {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:visited {
	FONT-WEIGHT: normal; COLOR: #405115; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:hover {
	COLOR: #759328; TEXT-DECORATION: underline
}
A.readon:link {
	LIST-STYLE: disc url(../images/read.gif) inside; DISPLAY: list-item; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #405115; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
A.readon:visited {
	LIST-STYLE: disc url(../images/read.gif) inside; DISPLAY: list-item; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #405115; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: none
}
A.readon:hover {
	LIST-STYLE: disc url(../images/read.gif) inside; DISPLAY: list-item; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #759328; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-DECORATION: underline
}
TABLE.moduletable {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px; BORDER-LEFT: #000000 0px solid; WIDTH: 95%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletable TH {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(../images/moduleheading.gif) no-repeat left 50%; WIDTH: 100%; COLOR: #1a220a; TEXT-INDENT: 18px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #759328 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
.componentheading {
	LIST-STYLE: disc url(../images/bullet.gif) inside; DISPLAY: list-item; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #232d0c; TEXT-INDENT: 20px; LINE-HEIGHT: 15px; BORDER-BOTTOM: #759328 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; HEIGHT: 15px; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: #a7cf43 1px solid; BORDER-TOP: #a7cf43 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; BORDER-LEFT: #a7cf43 1px solid; COLOR: #2a370d; BORDER-BOTTOM: #a7cf43 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif; HEIGHT: 20px; TEXT-ALIGN: center
}
.inputbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #d6e5aa; BORDER-LEFT: 1px solid; COLOR: #3e3e3e; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
.category {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #86a92e; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; COLOR: #405115
}
A.category:visited {
	FONT-WEIGHT: bold; COLOR: #405115
}
A.category:hover {
	COLOR: #759328
}
.poll {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
.sectiontableentry1 {
	BACKGROUND-COLOR: #ffffff
}
.contentpane {
	BACKGROUND-COLOR: #ffffff
}
.sectiontableentry2 {
	BACKGROUND-COLOR: #eef3da
}
.sectiontableheader {
	FONT-WEIGHT: bold; COLOR: #d6e5aa; BACKGROUND-COLOR: #405115
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #6d8829; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.newsfeedheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.newsfeeddate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #a7cf43; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #74912a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	MARGIN: 0px
}
LI {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(../images/arrow.gif)
}
.fase4rdf {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #242d0c; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
}
A.fase4rdf:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #405115
}
A.fase4rdf:hover {
	FONT-WEIGHT: bold; COLOR: #759328
}
TABLE.searchintro {
	BORDER-RIGHT: #759328 1px solid; BORDER-TOP: #759328 1px solid; BORDER-LEFT: #759328 1px solid; BORDER-BOTTOM: #759328 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.contact {
	BACKGROUND-COLOR: #e7f2cc
}
TABLE.contact TD.icons {
	BACKGROUND-COLOR: #759328
}
TABLE.contact TD.details {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d2e5a2
}
.pagenav {
	FONT-WEIGHT: normal
}
A.pagenav {
	FONT-WEIGHT: bold; COLOR: #759328
}
A.pagenav:visited {
	FONT-WEIGHT: bold; COLOR: #759328
}
A.pagenav:hover {
	COLOR: #d6e5aa
}
.pagenavbar {
	
}
.content_rating {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt
}
.content_vote {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt
}
A.bar:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.bar:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.bar:hover {
	COLOR: #a7cf43; TEXT-DECORATION: none
}
.searchbox {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; BORDER-LEFT: 2px solid; COLOR: #5e5e5e; LINE-HEIGHT: 13px; BORDER-BOTTOM: 2px solid; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 36px; COLOR: #333300; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.moscode {
	BACKGROUND-COLOR: #f0f0f0
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
